<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
	
	<link th:href="@{/css/login.css}" rel="stylesheet">
	<link th:href="@{/css/common.css}" rel="stylesheet">
</head>
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
        .error {
            color: #bd2130;
        }
    </style>
</th:block>
<body>
	<div layout:fragment="content">
		<div id="login" class="mt-5" style="padding-top: 1rem; padding-bottom: 130px;">
			<form role="form" method="post" action="/members/login">
				<div class="login-box account-area mt-5" style="margin-bottom: 3rem;">
			  		<h1 lang="en" class="mb-4">Login</h1>
			  		<dl class="login-input-area">
			  			<dt class="input-email">
							<input type="text" name="email" class="form-control" placeholder="E-mail">
			  			</dt>
			  			<dt class="input-pwd">
							<input type="password" name="password" id="password" class="form-control" placeholder="Password">	
			  			</dt>
			  		</dl>
			    	<p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>
			  		<div class="login-link-area clearfix">
				  		<div class="fl_L">
							<input type="checkbox" name="i_sFlagSaveId" id="i_sFlagSaveId">
							<label for="i_sFlagSaveId">
								<span>아이디 저장</span>
							</label>
				  		</div>
				  		<div class="fl_R">
							<a href="/members/find_id" ap-click-area="login" ap-click-name="login-click" ap-click-data="아이디찾기" title="아이디찾기">아이디 찾기</a>
							 | 
							<a href="" ap-click-area="login" ap-click-name="login-click" ap-click-data="비밀번호찾기" title="비밀번호찾기">비밀번호 찾기</a>
				  		</div>
				  	</div>
				  	<dl class="login-submit-area">
			  			<dt class="btn-login" id="btn-login">
							<button class="btn_login">로그인</button>
			  			</dt>
			  			<dt class="btn-login-kakao" id="btn-login-kakao">
							<a href="/oauth2/authorization/kakao" title="카카오 계정으로 1초 로그인" ap-click-area="login" ap-click-name="login-click" ap-click-data="카카오싱크">카카오 계정으로 1초 로그인</a>	
			  			</dt>
			  		</dl>
			  		<div class="login-link-area clearfix">
				  		<div class="fl_L">
							<a href="/members/new" ap-click-area="login" ap-click-name="login-click" ap-click-data="회원가입" title="회원가입"><span>회원가입</span></a>
							<p></p>
				  		</div>
				  	</div>
			  	</div>
		    	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
			</form>
		</div>
	</div>
</body>

</html>