<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
   
   <link th:href="@{/css/join.css}" rel="stylesheet">
</head>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .fieldError {
            color: #bd2130;
        }
        
		#join ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}
		#join ul li {
			float: left;
		}        
		.multi-column .flt-l {
			float:left;
			position: relative;
			width:58.739%;
			margin: 0;
		}
		.multi-column .flt-r {
			float:left;
			width:11.276%;
			margin-left: 3.724%; 
			box-sizing:border-box;
		}
		.multi-column:after {
		    content: '';
		    display: block;
		    clear: both;
		}
		#join .radio-area li label {
		    height: 36px;
		    line-height: 36px;
		    position: absolute;
		    left: 0;
		    top: 0;
		    display: block;
		    width: 100%;
		    color: #929292;
		    box-sizing: border-box;
		    background: #fff;
		    margin: 0;
		}

    </style>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript">
        $(document).ready(function(){
            var errorMessage = [[${errorMessage}]];
            if(errorMessage != null){
                alert(errorMessage);
            }
        });
        
        	$(function(){
	    $('#userPw').keyup(function(){
	      $('#chkNotice').html('');
	    });
	
	    $('#userPwChk').keyup(function(){
	
	        if($('#userPw').val() != $('#userPwChk').val()){
	          $('#chkNotice').html('비밀번호 일치하지 않음<br><br>');
	          $('#chkNotice').attr('color', '#f82a2aa3');
	        } else{
	          $('#chkNotice').html('비밀번호 일치함<br><br>');
	          $('#chkNotice').attr('color', '#199894b3');
	        }
	
	    });
	});
    </script>

</th:block>

<body>
	<div layout:fragment="content">
	    <form action="/members/new" role="form" method="post"  th:object="${memberFormDto}">
	    	<div id="join" class="mt-5 memberForm" style="padding-top: 1rem; padding-bottom: 130px;">
				<div class="join-box mt-5" style="margin-bottom: 3rem;">
			        <h1 style="margin-bottom: 20px;">회원가입</h1>
			        <div class="form-group">
			            <input type="text" th:field="*{name}" class="form-control" placeholder="이름(실명으로 입력해주세요)">
			            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError">Incorrect data</p>
			        </div>
			        <div class="form-group">
				        <div class="radio-wrap multi-column">
				        	<div class="flt-l">
				        		<input type="text" th:field="*{birth}" class="form-control" placeholder="생년월일8자리(ex.20010101)">
			            		<p th:if="${#fields.hasErrors('birth')}" th:errors="*{birth}" class="fieldError">Incorrect data</p>
				        	</div>
				        	<div class="radio-area">
				        		<ul>
				        			<li>
				        				<input type="radio" name="gender" value="M" id="male" class="hide" title="남자" onclick="document.getElementById('gender').value=this.value"><label for="male">남자</label>
				        			</li>
				        			<li>
				        				<input type="radio" name="gender" value="F" id="female" class="hide" title="여자" onclick="document.getElementById('gender').value=this.value"><label for="female">여자</label>
				        			</li>
				        		</ul>
				        	</div>
				        	<div class="flt-r">
				        		<input type="text" class="form-control" id="gender" placeholder="성별" style="text-align: center;">
				        	</div>
				        </div>
			        </div>
			        <div class="form-group">
			        	<input type="tel" th:field="*{phone}" class="form-control" placeholder="전화번호 입력 ( -, 띄어쓰기 없이 번호만 입력 )">
			            		<p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="fieldError">Incorrect data</p>
			        </div>
			        <div class="form-group">
			            <input type="email" th:field="*{email}" class="form-control" placeholder="이메일">
			            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError">Incorrect data</p>
			        </div>
			        <div class="form-group">
			            <input type="password" id="userPw" th:field="*{password}" class="form-control" placeholder="비밀번호">
			            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError">Incorrect data</p>
			        </div>
			        <div class="form-group">
			            <input type="password" id="userPwChk" class="form-control" placeholder="비밀번호확인">
			          	<font id="chkNotice" size="2"></font>
			        </div>
			        <div class="form-group">
			            <input type="text" th:field="*{address}" class="form-control" placeholder="주소를 입력해주세요">
			            <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="fieldError">Incorrect data</p>
			        </div>
			        <dt class="btn-join" id="btn-join">
			            <button class="btn_join">회원가입</button>
			        </dt>
			    </div>
		    </div>
		    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
	    </form>
	</div>
</body>

</html>