<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

	<head>
	    <meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	    <meta name="description" content="" />
	    <meta name="author" content="" />
	    <title>Shop Item - Start Bootstrap Template</title>
	    <!-- Bootstrap icons-->
	    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />	
	    
	    <!-- 사용자 지정 css -->    
	    <link th:href="@{/css/itemDtl_styles.css}" rel="stylesheet">
	    
	    <meta name="_csrf" th:content="${_csrf.token}"/>
    	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	</head>
<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
            var errorMessage = [[${errorMessage}]];
            if(errorMessage != null){
                alert(errorMessage);
            }

            bindDomEvent();

        });

        function bindDomEvent(){
            $(".custom-file-input").on("change", function() {
                var fileName = $(this).val().split("\\").pop();  //이미지 파일명
                var fileExt = fileName.substring(fileName.lastIndexOf(".")+1); // 확장자 추출
                fileExt = fileExt.toLowerCase(); //소문자 변환

                if(fileExt != "jpg" && fileExt != "jpeg" && fileExt != "gif" && fileExt != "png" && fileExt != "bmp"){
                    alert("이미지 파일만 등록이 가능합니다.");
                    return;
                }

                $(this).siblings(".custom-file-label").html(fileName);
            });
        }
        
        function deleteOqna(obj){
	 		var oqnaId = obj.dataset.id;
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/oqna/delete/" + oqnaId;

            $.ajax({
                url      : url,
                type     : "DELETE",
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    location.href='/oqnas';
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseJSON.message);
                    }

                }
            });
	
		}

    </script>

</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
	
    </style>
</th:block>

	<section id="oqnaForm" class="py-5 oqnaDF" layout:fragment="content">	
	    <form role="form" method="post" enctype="multipart/form-data" th:object="${oqnaFormDto}">
	        <p class="h2 title">
	            1:1 문의하기
	        </p>
	        <input type="hidden" th:field="*{id}">
		    <div class="row oqnaF my-5">
		        <div class="row align-items-center">
		            	<div class="row select_sell">
		            		<p class="small-title">문의유형을 선택해주세요</p>
					        <div class="form-group col-md-6">
					            <select th:field="*{qnaType}" class="custom-select">
					                <option value="상품">상품</option>
					                <option value="결제_배송">결제/배송</option>
					                <option value="반품_교환">반품/교환</option>
					                <option value="포인트_이벤트_쿠폰">포인트/이벤트/쿠폰</option>
					                <option value="사이트이용">사이트이용</option>
					            </select>
					        </div>
		            	<p class="small-title">제목을 작성해주세요</p>
						<div class="input-group">
				            <input type="text" th:field="*{oqnaTitle}" class="form-control input-title" placeholder="제목을 입력해주세요" maxlength="30">
				        </div>
				        <p th:if="${#fields.hasErrors('oqnaTitle')}" th:errors="*{oqnaTitle}" class="fieldError">Incorrect data</p>
			     	</div>
			    </div>
			    <p class="small-title mt-3">문의 사항을 작성해주세요</p>
				<div class="input-group">
		            <textarea class="form-control" aria-label="With textarea" th:field="*{oqnaDetail}" placeholder="문의 내용을 입력해주세요"></textarea>
	        	</div>
	        	<p th:if="${#fields.hasErrors('oqnaDetail')}" th:errors="*{oqnaDetail}" class="fieldError">Incorrect data</p>
	        	<p class="warning">※ 문의글에 개인정보를 기재하시는 경우, 상담완료 이후 임의로 삭제될 수 있사오니 개인정보 기재는 삼가해 주세요.</p><br>
	        	
				<p class="small-title mt-5">이미지를 업로드해주세요.(최대 5개까지 업로드 가능)</p>
		        <div th:if="${#lists.isEmpty(oqnaFormDto.oqnaImgDtoList)}">
		            <div class="form-group" th:each="num: ${#numbers.sequence(1,5)}">
		                <div class="custom-file img-div">
		                    <input type="file" class="custom-file-input" name="oqnaImgFile">
		                    <label class="custom-file-label" th:text="첨부이미지 + ${num}"></label>
		                </div>
		            </div>
		        </div>
		        <div th:if = "${not #lists.isEmpty(oqnaFormDto.oqnaImgDtoList)}">
		            <div class="form-group" th:each="oqnaImgDto, status: ${oqnaFormDto.oqnaImgDtoList}">
		                <div class="custom-file img-div">
		                    <input type="file" class="custom-file-input" name="oqnaImgFile">
		                    <input type="hidden" name="oqnaImgIds" th:value="${oqnaImgDto.id}">
		                    <label class="custom-file-label" th:text="${not #strings.isEmpty(oqnaImgDto.oriImgName)} ? ${oqnaImgDto.oriImgName} : '상품이미지' + ${status.index+1}"></label>
		                </div>
		            </div>
		        </div>
		        
		        <div sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
			        <p class="small-title mt-4">문의 답변을 작성해주세요</p>
					<div class="input-group">
			            <textarea class="form-control" aria-label="With textarea" th:field="*{oqnaReply}" placeholder="문의 답변을 입력해주세요"></textarea>
		        	</div>
		        	<p th:if="${#fields.hasErrors('oqnaReply')}" th:errors="*{oqnaReply}" class="fieldError">Incorrect data</p>
		        </div>
		        <div th:if="${#strings.isEmpty(oqnaFormDto.id)}" style="text-align: center">
		            <button th:formaction="@{/oqna/new}" type="submit" class="btn save">등록</button>
		        </div>
		        <div th:unless="${#strings.isEmpty(oqnaFormDto.id)}" style="text-align: center">
		            <button th:formaction="@{'/oqna/update/' + ${oqnaFormDto.id} }" type="submit" class="btn save">수정</button>
		            <button  type="button" class="btn close " aria-label="Close" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
		            	<span aria-hidden="true" th:data-id="${oqnaFormDto.id}" onclick ="deleteOqna(this)">삭제하기</span>
		            </button>
		        </div>
		       
		        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"> 
		    </div>           
	    </form>
	</section>
</html>