<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mypage}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript">
      
    </script>

</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .content-mg{
            margin-left:30%;
            margin-right:30%;
            margin-top:2%;
            margin-bottom:100px;
        }
        .repImgDiv{
            margin-right:15px;
            margin-left:15px;
            height:auto;
        }
        .repImg{
            height:100px;
            width:100px;
        }
        .card{
            width:750px;
            height:100%;
            padding:30px;
            margin-bottom:20px;
        }
        .fs18{
            font-size:18px
        }
        .fs24{
            font-size:24px
        }
    </style>
</th:block>

	<div layout:fragment="content" class="content-lg-12 ">
		<div id="orderHist" class="item_menu mypage">
		    <h3 class="mb-1 fw-bold mt-5">
		        1:1문의
		    </h3>
		    <p>최근 3개월 간의 주문 내역이 노출됩니다.</p>
		    <button type="button" class="btn btn-purchase btn-primary btn-lg" href="/mypage/oqna/new">문의하기</button>
			<div>
				<div class="table-responsive">
			        <table class="table cart">
			            <colgroup>
			                <col width="16%"/>
			                <col width="36%"/>
			                <col width="16%"/>
			                <col width="16%"/>
			                <col width="16%"/>
			            </colgroup>
			            <tr class="text-center">
			                <td>주문일자</td>
			                <td>상품명</td>
			                <td>수량</td>
			                <td>가격</td>
			                <td>처리현황</td>
			            </tr>
			        	<tr th:each="order : ${orders.getContent()}">
			        		<td class="align-middle">
				        		<div class="d-flex mb-3">
						            <span th:text="${order.orderDate}" class="orderDate"></span>
						        </div>
			        		</td>
			        		<td colspan='3'>
				        		<table class="inner_tb text-center">
						            <tr th:each="orderItem : ${order.orderItemDtoList}" class="d-flex">
						            	<td class="align-middle">
							                <div class="repImgDiv">
							                    <img th:src="${orderItem.imgUrl}" class = "rounded repImg" th:alt="${orderItem.itemNm}">
							                </div>   
						            	</td>
						            	<td>
						            		<span th:text="${orderItem.itemNm}" class="font-weight-bold"></span>
						            	</td>
						            	<td>
						            		<span th:text="${orderItem.count} +'개'"></span>
						            	</td> 
						            	<td >
						            		<span th:text="${orderItem.orderPrice} +'원'"></span>
						            	</td>
						            </tr>
						        </table>
			        		</td>
					        
					        <td class="align-middle">
						     	<div class="d-flex mb-3">
						            <div class="ml-3">
						                <th:block th:if="${order.orderStatus == T(com.shop.constant.OrderStatus).ORDER}">
						                    <button type="button" class="btn btn-outline-secondary" th:value="${order.orderId}" onclick="cancelOrder(this.value)">주문취소</button>
						                </th:block>
						                <th:block th:unless="${order.orderStatus == T(com.shop.constant.OrderStatus).ORDER}">
						                    <span>(취소 완료)</span>
						                </th:block>
						            </div>
						        </div>
					        </td>
					    </tr>
					</table>	
				    <div th:with="start=${(orders.number/maxPage)*maxPage + 1}, end=(${(orders.totalPages == 0) ? 1 : (start + (maxPage - 1) < orders.totalPages ? start + (maxPage - 1) : orders.totalPages)})" >
				        <ul class="pagination justify-content-center">
				            <li class="page-item" th:classappend="${orders.number eq 0}?'disabled':''">
				                <a th:href="@{'/orders/' + ${orders.number-1}}" aria-label='Previous' class="page-link previous">
				                    <span aria-hidden='true'>Previous</span>
				                </a>
				            </li>
				
				            <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${orders.number eq page-1}?'active':''">
				                <a th:href="@{'/orders/' + ${page-1}}" th:inline="text" class="page-link pNum">[[${page}]]</a>
				            </li>
				
				            <li class="page-item" th:classappend="${orders.number+1 ge orders.totalPages}?'disabled':''">
				                <a th:href="@{'/orders/' + ${orders.number+1}}" aria-label='Next' class="page-link next">
				                    <span aria-hidden='true'>Next</span>
				                </a>
				            </li>
				        </ul>
				    </div>   
				</div>
			</div>
			<!--/#orderHist-->
		</div>
		<!--layout content 끝-->
	</div>
</html>