<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

	<head>
	    <meta name="_csrf" th:content="${_csrf.token}"/>
	    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	    <meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	    <meta name="description" content="" />
	    <meta name="author" content="" />
	    <title>1:1문의 상세보기</title>
	    <!-- Bootstrap icons-->
	    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />  
	    
	</head>

	<section id="oqnaDtl" class="py-5 oqnaDF " layout:fragment="content">	
	    	<input type="hidden" id="oqnaId" th:value="${oqna.id}">
	        <p class="h2 title">
	            1:1 문의하기
	        </p>
	      
		    <div class="container px-4 px-lg-5 my-5">
            	<p class="small-title mt-3">문의 타입</p>
				<p class="input-title" th:text="${oqna.qnaType}"></p>
            	<p class="small-title">제목</p>
				<p class="input-title" th:text="${oqna.oqnaTitle}">e</p>
			    <p class="small-title mt-3">문의 사항</p>
				<textarea class="form-control" th:text="${oqna.oqnaDetail}"></textarea>
				<p class="small-title mt-5">첨부 사진</p>
		        <div th:each="oqnaImg : ${oqna.oqnaImgDtoList}" class="text-center pt-5">
			    	<img th:if="${not #strings.isEmpty(oqnaImg.imgUrl)}" th:src="${oqnaImg.imgUrl}" class="rounded mgb-15" width="300" height="300">
				</div>
		        <div>
			        <p class="small-title mt-3">문의 답변</p>
					<div class="input-group">
			            <div class="form-control reply" th:text="${oqna.oqnaReply}"></div>
		        	</div>
		        </div>
		        <div style="text-align: center;">
		        	<a th:href="'/oqna/update/' + ${oqna.id}" class="btn update">수정하기</a>
		        </div>
		    </div>           
	</section>
</html>
