/*item_menu 공통*/
.sub-top-title-area .title {
    font-family: 'New Baskerville ITC W05 Bold','NotoSansKR','roboto','돋움','AppleGothic', Dotum, sans-serif;
    font-size: 48px;
    font-weight: 500;
     margin: 0px 20px 40px 0px;
    color: #000000;
    text-align: left;
}

/*bread*/

#bread #banner{
	background-image: url('https://github.com/dpfah/TeamProject/blob/main/shop-master/src/main/resources/static/images/bread_banner.jpg?raw=true');
}


/*cookies*/
#cookies #banner{
	background-image: url('https://github.com/dpfah/TeamProject/blob/main/shop-master/src/main/resources/static/images/cookies_banner.jpg?raw=true');
}


/*cake*/
#cake #banner{
	background-image: url('https://github.com/dpfah/TeamProject/blob/main/shop-master/src/main/resources/static/images/cake_banner.jpg?raw=true');
}