@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');

html {
	
	width:1080px;
    position: relative;
    width: 1080px;
    min-height: 100%;
    margin: 0 auto;
}
body {
    min-height: 100%;
    
}
.footer {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}
