@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic&family=Noto+Sans+KR&display=swap');

#header{
	height:125px;
}
.top_menu a{
	font-size: 12px;
	color:black;
	margin:7px 0 23px;
}
.f-red{
	color:red !important;
}
.Hmenu .nav-item a{
	color: #333333;
    font-size: 16px;
}
.MToggle .menu a{
	cursor:pointer;
}
.MToggle .menu .hide{
	display:none;
}
/* .Hmenu .nav-item a:hover{ */
/* 	background-color:#fad4a8; */
/* } */
.logo{
	font-size: 31px;
	font-family: 'Jua','Nanum Gothic','Noto Sans KR', sans-serif;
	color:#a57643 !important;
}

.logo img{
	width: 35px;
}
.smallPrice{
	color:#666;
	font-size: 12px;
	display:block;
}
.cartO{
	position: absolute;
    right: 7px;
    top: 12px;
    background-color: #FC454C;
    width: 18px;
    height: 18px;
    font-size: 11px;
}
.text-Price{
	font-size: 36px;
	font-weight: bold;
}
.TotalPrice{
	margin:0 auto;
	background-color: #f7f7f7;
	padding: 50px;
}

.footer{
	border-top: 1px solid #ddd;
	text-align: left;
	clear:both;
}
.footer li{
	text-decoration: none;
	display:inline-block;
	float:left;
	padding-right:5px;
}
footer a, footer p, footer .logo{
	color:#666 !important;
}

.footer ul{
	display: -webkit-box;
	    padding: 0;
}
.footerMenu li{
	padding-right:15px;
	font-weight: bold;
}
.cart td{
	font-size : 16px;
	
}
.totalPrice{
	font-weight: bold;
}
.cart_td_text{
	font-weight: 500;
}
.cart_close{
	position:absolute;
	right: 0px;
    top: -5px;
    font-size: 30px;
}
.table{
	text-align: center;
	margin-bottom: 40px;
}
.table a{
	color:#212529;
}
.mslide {
	width:700px;
	background:#f1f1f1;
	display: inherit;
}	
.mbanner{
	float:right;
	display:inline-block;
}
.main{
	display:inline-block;
}
.mban{
	margin-left: 10px;
    margin-bottom: 15px;
}
.mban img{
	width:370px;
	height:auto;
}
.mban:last-child{
    margin-bottom: 0;
}
.Mitems{
	font-size: 20px;
	margin-bottom: 60px;
}

.Mitems .imgCut{
	width:324px;
	height:324px;
	overflow: hidden;
}
.Mitems .imgCut img{
	width:auto;
	height:324px;
	margin:0 auto;
	-webkit-transform: scale(1);
	  transform: scale(1);
	  -webkit-transition: .3s ease-in-out;
	  transition: .3s ease-in-out;
}
.Mitems a:hover img{
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.Mitems p{
	margin: 0px;	
}
.Mitems .card-title{
	font-weight: 600;
}

.Mitems .priceCss span{
	color:#ccc;
	text-decoration: line-through;
	font-weight: 400;
}
.Mitems .pointCss{
	color:#FC454C;
	font-size: 16px;
	
}
.Mitems .summaryCss{
	color:#999;
	font-size: 18px;
}

.Mbox01::after, .Mbox02::after {
    content: "";
    display: block;
    position: relative;
    top: 100%;
    left: 50%;
    width: 98vw;
    height: 20px;
    background: #f5f5f5;
    transform: translateX(-50%);
    margin:110px 0;
    
}
.Mbox02{
	font-size: 18px;
	text-align: center;
	
}
.Mbox02 h3{
	background:#fad4a8;
	padding:15px 25px;
	border:1px solid #fad4a8;
	border-radius: 30px;
	display:inline-block;
	margin:0 auto 15px;
	text-align: center;
}
.Mbox02 .Bbox02{
	background:#f7f7f7;
	font-size: 24px;
    margin: 20px auto;
    padding: 30px 90px;
    width:810px;
    text-align: left;
}
.Mbox02 .Bbox02 .BboxCircle{
	background:#fad4a8;
	border:1px solid #fad4a8;
	border-radius: 50px;
	padding:20px;
	display:inline-block;
	margin-right:10px;
	margin-bottom: 0;
}
.BboxCircle img{
	width:45px;
	height:45px;
}
.Mbox02 .Bbox02 p{
	display:inline;
}
.MBox03{
	height:201px;
	margin-bottom: 100px;
	border: 1px solid #ddd;
}
.MBox03 img{
	display:inline-block;
	float:left;
}
.MBox03 .box03{
	display:inline-block;
	float:left;
	padding: 19px 60px;
}
.MBox03 p{
	margin-bottom: 0;
	margin-top: 0
}
.Mbox03 .boxText{
	color:#ddd;
}
#header .form-control{
	border-radius:30px;	
	background:#f6f6f6;
	border:1px solid #f6f6f6;
}
#header form .bi{
	position:absolute;
	right: 64px;
    top: 20px;
}

