/*mypage*/
        
#mypage .sub-content {
    width: 100%;
    max-width: 1280px;
    margin: 0px auto 0 auto;
}
#mypage .sub-content.mypage {
    position: relative;
    width: 100%;
    max-width: 1280px;
    padding: 74px 0 0 250px;
    min-height: 480px;
    height: auto;
    margin-bottom: 180px;
}

#mypage .lnb-mypage-category {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 220px;
    height: auto;
    margin: 65px 30px 0px 0px;
}
#mypage .lnb-mypage-category h1 {
    padding: 10px 0px 20px 0px;
    margin: 0;
    color: #333333;
    font-size: 26px;
    font-weight: 500;
}
#mypage .lnb-mypage-category ul {
	padding: 0;
	margin: 0;
    list-style: none;
    width: 100%;
    border: 1px solid #EBEBEB;
}
#mypage .lnb-mypage-category li {
    border-bottom: 1px solid #EBEBEB;
}
#mypage .lnb-mypage-category li a {
    display: block;
    margin: 0 0 0 20px;
    padding: 20px 0px;
    color: #666666;
    font-size: 14px;
    font-weight: 500;
}
#mypage .lnb-mypage-category li a:after {
    content: "";
    display: inline-block;
    background: url(../images/common/ico-btn-black-small.svg) no-repeat center center;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    position: absolute;
    right: 15px;
}

#mypage .my-overview-order {
    margin-top: 0;
    margin-bottom: 20px;
}
#mypage .my-overview-order > dl {
    text-align: left;
    position: relative;
    margin-bottom: 21px;
}
#mypage .my-overview-order > dl > dt {
    font-size: 24px;
    color: #000000;
    position: relative;
    padding-right: 10px;
    font-weight: 500;
    display: inline-block;
}
#mypage .my-overview-order > dl > dd {
    color: #666666;
    display: inline-block;
    font-size: 13px;
    letter-spacing: -0.03em;
}
#mypage .my-overview-order > dl > a {
    font-size: 15px;
    position: absolute;
    top: 12px;
    right: 0;
    color: #666666;
    text-decoration: none;
}
#mypage .my-overview-order > dl > a:after {
    content: "";
    display: inline-block;
    background: url(../images/common/ico-btn-black-small.svg) no-repeat center center;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-bottom: 3px;
    margin-left: 4px;
}
#mypage .mypage-order-list {
    width: 100%;
    padding: 0;
    border-bottom: 0px solid #DDDDDD;
    margin-bottom: 80px;
}
#mypage .mypage-order-list > li:first-child {
    border-top: 2px solid #999999;
    position: relative;
    color: #000000;
}
#mypage .mypage-order-list > li {
    border-bottom: 1px solid #DDDDDD;
    position: relative;
    color: #333333;
}
#mypage .mypage-order-list > li.table-category > dl.order-th {
    display: table;
    table-layout: fixed;
    width: 100%;
}
#mypage .mypage-order-list > li.table-category > dl.order-th > dd {
    display: table-cell;
    vertical-align: middle;
    height: 45px;
    padding: 13px 10px;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    text-align: center !important;
}
#mypage .mypage-order-list .col-date {
    width: 100px;
}
#mypage .mypage-order-list .col-order-number {
    width: 150px;
}
#mypage .mypage-order-list .col-pay-total {
    width: 130px;
}
#mypage .mypage-order-list .col-status {
    color: #fc454c;
    width: 140px;
}
#mypage .mypage-order-list .col-etc {
    width: 150px;
    text-align: right !important;
    padding: 10px !important;
}
#mypage .mypage-order-list > li.no_list {
    font-size: 14px;
    color: #999999;
    text-align: center;
    line-height: 250px;
    letter-spacing: -0.03em;
    padding: 0;
}

#mypage .my-overview-review {
    margin-top: 0;
    margin-bottom: 20px;
}
#mypage .my-overview-review > dl {
    text-align: left;
    position: relative;
    margin-bottom: 21px;
}
#mypage .my-overview-review > dl > dt {
    font-size: 24px;
    color: #000000;
    position: relative;
    padding-right: 10px;
    font-weight: 500;
    display: inline-block;
}
#mypage .my-overview-review > dl > dd {
    color: #666666;
    display: inline-block;
    font-size: 13px;
    letter-spacing: -0.03em;
}
#mypage .my-overview-review > dl > a {
    font-size: 15px;
    position: absolute;
    top: 12px;
    right: 0;
    color: #666666;
    text-decoration: none;
}
#mypage .my-overview-review > dl > a:after {
    content: "";
    display: inline-block;
    background: url(../images/common/ico-btn-black-small.svg) no-repeat center center;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-bottom: 3px;
    margin-left: 4px;
}
#mypage .mypage-review-list {
    width: 100%;
    padding: 0;
    border-bottom: 0px solid #DDDDDD;
    margin-bottom: 80px;
}
#mypage .mypage-review-list > li:first-child {
    border-top: 2px solid #999999;
    position: relative;
    color: #000000;
}
#mypage .mypage-review-list > li {
    border-bottom: 1px solid #DDDDDD;
    position: relative;
    color: #333333;
}
#mypage .mypage-review-list > li.no_list {
    font-size: 14px;
    color: #999999;
    text-align: center;
    line-height: 250px;
    letter-spacing: -0.03em;
    padding: 0;
}

#mypage .my-overview-qna {
    margin-top: 0;
    margin-bottom: 20px;
}
#mypage .my-overview-qna > dl {
    text-align: left;
    position: relative;
    margin-bottom: 21px;
}
#mypage .my-overview-qna > dl > dt {
    font-size: 24px;
    color: #000000;
    position: relative;
    padding-right: 10px;
    font-weight: 500;
    display: inline-block;
}
#mypage .my-overview-qna > dl > a {
    font-size: 15px;
    position: absolute;
    top: 12px;
    right: 0;
    color: #666666;
    text-decoration: none;
}
#mypage .my-overview-qna > dl > a:after {
    content: "";
    display: inline-block;
    background: url(../images/common/ico-btn-black-small.svg) no-repeat center center;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-bottom: 3px;
    margin-left: 4px;
}
#mypage .mypage-qna-list {
    width: 100%;
    padding: 0;
    border-bottom: 0px solid #DDDDDD;
    margin-bottom: 80px;
}
#mypage .mypage-qna-list > li:first-child {
    border-top: 2px solid #999999;
    position: relative;
    color: #000000;
}
#mypage .mypage-qna-list > li {
    border-bottom: 1px solid #DDDDDD;
    position: relative;
    color: #333333;
}
#mypage .mypage-qna-list > li.table-category > dl.qna-th {
    display: table;
    table-layout: fixed;
    width: 100%;
}
#mypage .mypage-qna-list > li.table-category > dl.qna-th > dd {
    display: table-cell;
    vertical-align: middle;
    height: 45px;
    padding: 13px 10px;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    text-align: center !important;
}
#mypage .mypage-qna-list .qna-num {
    width: 80px;
}
#mypage .mypage-qna-list .qna-type {
    width: 150px;
}
#mypage .mypage-qna-list .qna-date {
    width: 140px;
}
#mypage .mypage-qna-list .qna-state {
    width: 180px;
}
#mypage .mypage-qna-list > li.no_list {
    font-size: 14px;
    color: #999999;
    text-align: center;
    line-height: 250px;
    letter-spacing: -0.03em;
    padding: 0;
}