<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div class="footer" th:fragment="footer">
        <footer class="page-footer font-small cyan darken-3">
            <div class="footer-copyright text-center py-3">
            	<h2>빵주머니</h2>
            	<ul class="footerMenu">
            		<li><a href="#">Products</a></li>
					<li><a href="#">Brand</a></li>
					<li><a href="#">Help</a></li>
					<li><a href="#">Contact us</a></li>
            	</ul>
            	<ul class="footerMenu2">
            		<li><a href="#">공지사항</a></li>
					<li><a href="#">자주 묻는 질문</a></li>
					<li><a href="#"><strong>개인정보처리방침</strong></a></li>
					<li><a href="#">이용약관</a></li>
            	</ul>
            	<p>빵주머니대표 : 빵주마 사업자등록번호 : 112-34-56789 사업자정보 확인
					부산광역시 부산진구 00-100 051-634-0952(제품문의)
					통신판매업신고번호 : 2020-서울용산-0952호 건강기능식품판매업 영업신고증 제2020-000952호</p>
                <p>2022 Bread Shopping Mall</p>
            </div>
        </footer>
    </div>
</html>