<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div class="footer mt-5" th:fragment="footer">
        <footer class="page-footer font-small darken-3">
            <div class="footer-copyright py-3">
            	<h2 class="mb-3">빵주머니</h2>
            	<ul class="footerMenu">
            		<li><a href="#">Products</a></li>
					<li><a href="#">Brand</a></li>
					<li><a href="#">Help</a></li>
					<li><a href="#">Contact us</a></li>
            	</ul>
            	<ul class="footerMenu2">
            		<li><a href="#">공지사항</a></li>
					<li><a href="#">자주 묻는 질문</a></li>
					<li><a href="#"><strong>개인정보처리방침</strong></a></li>
					<li><a href="#">이용약관</a></li>
            	</ul>
            	<p class="text-break"><strong>빵주머니대표 : </strong> 빵주마 <strong>사업자등록번호 :</strong> 112-34-56789 <br>
            		<strong>주소 :</strong> 부산광역시 부산진구 00-100 <strong>제품문의 :</strong> 051-634-0952<br>
					<strong>통신판매업신고번호 :</strong> 2020-서울용산-0952호 건강기능식품판매업 영업신고증 제2020-000952호</p>
                <p class="small-font">2022 Bread Shopping Mall</p>
            </div>
        </footer>
    </div>
</html>