<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
                                            
<div th:fragment="header" id="header">

		<div class="top_menu">
			<ul class="nav justify-content-end">
			  
			  <li class="nav-item" sec:authorize="isAnonymous()">
			    <a class="nav-link f-red" href="/members/new">회원가입</a>
			  </li>
			  <li class="nav-item" sec:authorize="isAnonymous()">
			    <a class="nav-link" href="/members/login">로그인</a>
			  </li>
			  
              <li class="nav-item" sec:authorize="isAuthenticated()">
                 <a class="nav-link" href="/cart">장바구니</a>
              </li>
              <li class="nav-item" sec:authorize="isAuthenticated()">
                 <a class="nav-link" href="/orders">마이페이지</a>
              </li>
			  <li class="nav-item">
			    <a class="nav-link" aria-current="page" href="#">고객센터</a>
			  </li>
			  <li class="nav-item" sec:authorize="isAuthenticated()">
                 <a class="nav-link" href="/members/logout">로그아웃</a>
              </li>
			</ul>
		</div>
<!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container  col-lg-12">
                <a class="navbar-brand logo" href="/">
                	<img src="/img/logo02.png" alt="logo_image"> 빵주머니
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4 Hmenu">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">홈</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">모든상품</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">모든 제품</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="/cake">케이크</a></li>
                                <li><a class="dropdown-item" href="/cookies">쿠키</a></li>
                                <li><a class="dropdown-item" href="/bread">빵</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#!">공지사항</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">고객센터</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">리뷰페이지</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">관리자</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                    				<a class="dropdown-item" href="/admin/item/new">상품 등록</a>
                				</li>
                				<li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
		                    		<a class="dropdown-item" href="/admin/items">상품 관리</a>
		                		</li>
		                		<li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
		                    		<a class="dropdown-item" href="/admin/customerMng">고객센터 관리</a>
		                		</li>                                
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
   
                    	<form class="d-flex"  th:action="@{/}" method="get">
					        <input class="form-control" name="searchQuery" type="search" placeholder="Search" aria-label="Search">
					        <button class="btn btn btn-secondary" type="submit">
					        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
							  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
							</svg></button>
					    </form>
                        <div class="float-end" type="submit">
                         <a class="nav-link" href="/cart" sec:authorize="isAuthenticated()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
							  <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
							</svg>
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                         </a>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
       


<!--    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Shop</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                    <a class="nav-link" href="/admin/item/new">상품 등록</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                    <a class="nav-link" href="/admin/items">상품 관리</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/cart">장바구니</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/orders">구매이력</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" href="/members/login">로그인</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/members/logout">로그아웃</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" th:action="@{/}" method="get">
                <input name="searchQuery" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>-->
</div>

</html>