<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

	<head>
	    <meta name="_csrf" th:content="${_csrf.token}"/>
	    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	    <meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	    <meta name="description" content="" />
	    <meta name="author" content="" />
	    <title>커뮤니티</title>
	    
	    <!-- 사용자 지정 css -->    
	    <link th:href="@{/css/cmt_styles.css}" rel="stylesheet">
	    
	</head>

	<section id="cmtDtl" class="cmtDF " layout:fragment="content">	
	    	<input type="hidden" id="cmtId" th:value="${cmt.id}">
	        <div class="text-left text-black">
                    <h1 class="title" >커뮤니티  <span></span></h1>
            </div>
            <button type="button" class="btn btn-secondary" th:if="${#strings.equals(email, cmt.createdBy)}">
        			<a th:href="'/cmt/update/' + ${cmt.id}" class="update" >수정하기</a>
        	</button>
        	
        	<button type="button" class="btn btn-secondary"  sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
        			<a th:href="'/cmt/update/' + ${cmt.id}" class="update" >수정하기</a>
        	</button>
                
		    <div class="cmtBox">
        	
        		<div class="DtlTextBox">
					<h1 class="input-title Dtlh1 " th:text="${cmt.cmtTitle}">e</h1>
					
					<div class="cmtDtlWriter">작성자 <p class="small-title" th:text="${#strings.substring(#strings.replace(cmt.createdBy, '@', '*****'), 0, 8)}"></p></div>
					<p class="cmtDate" th:text="${cmt.cmtDate}"></p>
				</div>
		   		<div th:each="cmtImg : ${cmt.cmtImgDtoList}" class="text-center cmtImg">
			    	<img th:if="${not #strings.isEmpty(cmtImg.imgUrl)}" th:src="${cmtImg.imgUrl}" class="rounded mgb-15">
				</div>
				<p class="cmtP" th:text="${cmt.cmtDetail}"></p>
		    </div>           
		      
	</section>
</html>