<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>커뮤니티</title>
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/item_menu.css" rel="stylesheet" />
        <link href="/css/cmt_styles.css" rel="stylesheet" />
        <style>
		@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');
		</style>
    </head>
    <th:block layout:fragment="script">
	    <style>
	    </style>
    </th:block>
    <body>
        <!-- content 시작-->
	 	<section id="cmt" class="item_menu" layout:fragment="content">	
	        <!-- banner-->
	        <div id="banner" >
	            <div class="container">
	                <div class="text-center text-white">
	                    <h1 class="display-4 fw-bolder title fst-italic">커뮤니티</h1>
	                    <div class="container jb-box">
	                         <video width="100%" height="auto" autoplay loop muted >
	                            <source src="/img/isorepublic-free-video-baker-croissants.mp4" type="video/mp4">
	                    		<strong>Your browser does not support the video tag.</strong>
	                    	 </video>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <!-- small nav -->
	        <div class="container pt-3 pb-3 px-4 my-5 sub-top-title-area">
                <div class="text-left text-black">
                    <h1 class="title">커뮤니티</h1>
                </div>
	        </div>
	        <!-- Section-->
	        <section class="py-5 mb-3" >
	            <div class="container px-4 mt-5">
	                <div class="row gx-3 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-left">
	                <th:block th:each="cmt, status: ${cmts.getContent()}">	                	
		                    <div class="col mb-5">
		                        <div class="Mitems card h-100 border border-0">
		                       		<a th:href="'/cmt/dtl/' +${cmt.id}" class="text-dark">
		                       			<div class="imgCut">
			                            <!-- Product image-->
			                          		<img th:src="${cmt.imgUrl}" th:alt="${cmt.cmtTitle}" class="card-img-top bg-light">
			                            <!-- Product details-->
		                       			</div>
			                            <div class="product-list">
				                            <div class="card-body text-left">
			                                    <!-- Product name-->
			                                    <h5 class="product-name fw-bolder">[[${cmt.cmtTitle}]]</h5>
			                                   	<p class="Cmtwriter">[[${cmt.createdBy}]]</p>
				                            </div>
			                            </div>
		                            </a>
		                        </div>
		                    </div>
	                </th:block>
	                </div>
	                  		<!-- paging -->
					        <div th:with="start=${(cmts.number/maxPage)*maxPage + 1}, end=(${(cmts.totalPages == 0) ? 1 : (start + (maxPage - 1) < cmts.totalPages ? start + (maxPage - 1) : cmts.totalPages)})" >
					            <ul class="pagination justify-content-center">
					
					                <li class="page-item" th:classappend="${cmts.first}?'disabled'">
					                    <a th:onclick="'javascript:page(' + ${cmts.number - 1} + ')'" aria-label='Previous' class="page-link">
					                        <span aria-hidden='true'>Previous</span>
					                    </a>
					                </li>
					
					                <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${cmts.number eq page-1}?'active':''">
					                    <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>
					                </li>
					
					
					                <li class="page-item" th:classappend="${cmts.last}?'disabled'">
					                    <a th:onclick="'javascript:page(' + ${cmts.number + 1} + ')'" aria-label='Next' class="page-link">
					                        <span aria-hidden='true'>Next</span>
					                    </a>
					                </li>
					
					            </ul>
					        </div>
					       
						    
					
					        <div class="form-inline justify-content-center" th:object="${cmtSearchDto}">
					            <select th:field="*{searchDateType}" class="form-control" style="width:auto;">
					                <option value="all">전체기간</option>
					                <option value="1d">1일</option>
					                <option value="1w">1주</option>
					                <option value="1m">1개월</option>
					                <option value="6m">6개월</option>
					            </select>
					            <select th:field="*{searchBy}" class="form-control" style="width:auto;">
					            	<option value="">옵션</option>
					                <option value="name">이름</option>
					            </select>
					            <input th:field="*{searchQuery}" type="text" class="form-control" placeholder="검색어를 입력해주세요">
					            <button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
					        </div>
	            </div>
	        </section>
	        <!-- Footer-->
	        <footer class="py-5">
	           
	        </footer>
	        <!-- Bootstrap core JS-->
	        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	        <!-- Core theme JS-->
	        <script src="js/scripts.js"></script>
	 	</section>

