<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

	<head>
	    <meta name="_csrf" th:content="${_csrf.token}"/>
	    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	    <meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	    <meta name="description" content="" />
	    <meta name="author" content="" />
	    <title>Shop Item - Start Bootstrap Template</title>
	    <!-- Bootstrap icons-->
	    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />  
	    
	    <!-- 사용자 지정 css -->  
	    <link th:href="@{/css/itemDtl_styles.css}" rel="stylesheet">
	</head>

	<!-- 사용자 스크립트 추가 -->
	<th:block layout:fragment="script">
	    <script th:inline="javascript">
	        $(document).ready(function(){
	
	            calculateToalPrice();
	
	            $("#count").change( function(){
	                calculateToalPrice();
	            });
	        });
	
	        function calculateToalPrice(){
	            var count = $("#count").val();
	            var price = $("#price").val();
	            var totalPrice = price*count;
	            $("#totalPrice").html(totalPrice + '원');
	        }
	
	        function order(){
	            var token = $("meta[name='_csrf']").attr("content");
	            var header = $("meta[name='_csrf_header']").attr("content");
	
	            var url = "/order";
	            var paramData = {
	                itemId : $("#itemId").val(),
	                count : $("#count").val()
	            };
	
	            var param = JSON.stringify(paramData);
	
	            $.ajax({
	                url      : url,
	                type     : "POST",
	                contentType : "application/json",
	                data     : param,
	                beforeSend : function(xhr){
	                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
	                    xhr.setRequestHeader(header, token);
	                },
	                dataType : "json",
	                cache   : false,
	                success  : function(result, status){
	                    alert("주문이 완료 되었습니다.");
	                    location.href='/';
	                },
	                error : function(jqXHR, status, error){
	
	                    if(jqXHR.status == '401'){
	                        alert('로그인 후 이용해주세요');
	                        location.href='/members/login';
	                    } else{
	                        alert(jqXHR.responseText);
	                    }
	
	                }
	            });
	        }
	
	        function addCart(){
	            var token = $("meta[name='_csrf']").attr("content");
	            var header = $("meta[name='_csrf_header']").attr("content");
	
	            var url = "/cart";
	            var paramData = {
	                itemId : $("#itemId").val(),
	                count : $("#count").val()
	            };
	
	            var param = JSON.stringify(paramData);
	
	            $.ajax({
	                url      : url,
	                type     : "POST",
	                contentType : "application/json",
	                data     : param,
	                beforeSend : function(xhr){
	                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
	                    xhr.setRequestHeader(header, token);
	                },
	                dataType : "json",
	                cache   : false,
	                success  : function(result, status){
	                    alert("상품을 장바구니에 담았습니다.");
	                    location.href='/';
	                },
	                error : function(jqXHR, status, error){
	
	                    if(jqXHR.status == '401'){
	                        alert('로그인 후 이용해주세요');
	                        location.href='/members/login';
	                    } else{
	                        alert(jqXHR.responseText);
	                    }
	
	                }
	            });
	        }
	
	    </script>
	</th:block>
	



	<!-- Product section-->
	<section id="itemDtl" class="py-5 itemA" layout:fragment="content">	
	 <input type="hidden" id="itemId" th:value="${item.id}">
	    <div class="container px-4 px-lg-5 my-5">
	        <div class="row gx-4 gx-lg-5 align-items-center">
	            <div class="col-md-6"><img th:src="${item.itemImgDtoList[0].imgUrl}" class = "rounded repImg" th:alt="${item.itemNm}"></div>
	            <div class="col-md-6">
	                <div class="small mb-1">
						<span th:if="${item.itemSellStatus == T(com.shop.constant.ItemSellStatus).SELL}" class="badge badge-primary mgb-15">
			                판매중
			            </span>
			            <span th:unless="${item.itemSellStatus == T(com.shop.constant.ItemSellStatus).SELL}" class="badge btn-danger mgb-15" >
			                품절
			            </span>
					</div>
	                <h3 class="itemNm fw-bolder" th:text="${item.itemNm}">e</h3>
	                <div class="fs-5 mb-3">
	                	<p class="lead small-title" th:text="${item.itemSNm}"></p>
	                    <div class="ori-price text-decoration-line-through" th:text="${item.price}"></div>
	                    <span class="percent" th:text="${item.percent}"></span><span class="percent">%</span>
	                    <input type="hidden" th:value="${item.price}" id="price" name="price">
	                    <span class="discount-amount" name="totalPrice" id="totalPrice"></span>
	                </div>
	               
	                <div class="row mb-3">
	                	<div class="dropdown col-10">
						  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" th:text="${item.itemNm}">
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
						    <li><a class="dropdown-item" th:text="${item.itemNm}"></a><span class="lead small-price" th:text="${item.price}"></span><span class="lead small-priceW">원</span></li>
						  </ul>
						</div>
	                    <input class="form-control count text-center me-3 col-2" id="count" name="count" type="number" value="1" min="1" style="max-width: 3rem" />
	                </div>
	                <!--상품 정보: 맛있게 먹는 법-->
	                <div class="product-summary">
	                	<ul class="product-intake">
	                		<li>
	                			<p class="summary" th:text="${item.itemSummary}"></p>
	                		</li>
	                	</ul>
	                	<div class="product-usage">
	                		<p>상품정보</p>
	                		<ul class="product-info-etc">
	                			<li class="expectBpoint" th:text="${item.point}"></li>
	                		</ul>
	                	</div>			
	                </div>
		            <div th:if="${item.itemSellStatus == T(com.shop.constant.ItemSellStatus).SELL}" class="text-right mt-3">
		                <button type="button" class="btn btn-cart btn-lg" onclick="addCart()">장바구니 담기</button>
		                <button type="button" class="btn btn-purchase btn-primary btn-lg" onclick="order()">주문하기</button>
		            </div>
		            <div th:unless="${item.itemSellStatus == T(com.shop.constant.ItemSellStatus).SELL}" class="text-right">
		                <button type="button" class="btn btn-danger btn-lg">품절</button>
		            </div>
		     	</div>
		    </div>
		    
		    <!--상품 상세, 리뷰, 배송및 교환 nav-->
		    <nav class="navbar navbar-expand-lg mt-5 mb-5">
			  <div class="container-fluid mt-5">			    
			    <div class="tab-product-area collapse navbar-collapse" id="navbarNav">
			      <ul class="tab-product-ul navbar-nav">
			        <li class="nav-item">
			          <a class="nav-link active" aria-current="page" href="#">상세정보</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link" href="#">후기(1204)</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link" href="#">배송 및 교환</a>
			        </li>
			      </ul>
			    </div>
			  </div>
			</nav>
			<div th:each="itemImg : ${item.itemImgDtoList}" class="text-center pt-5">
	    	<img th:if="${not #strings.isEmpty(itemImg.imgUrl)}" th:src="${itemImg.imgUrl}" class="rounded mgb-15" width="800">
			</div>
		    <div class="jumbotron-fluid mgt-30">
		        <div class="container">
		            <h4 class="">상품 상세 설명</h4>
		            <hr class="my-4">
		            <p class="lead" th:text="${item.itemDetail}"></p>
		        </div>
		    </div>
	    </div>	    
	</section>
</html>
